<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rs.elfak.findpet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/find_pet_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/find_pet_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindPet">
        <service
            android:name=".Services.UserLocationService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"/>

        <activity android:name=".GetStartedActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".GetStartedActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".GetStartedActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.FindPet.NoActionBar"
            tools:ignore="IntentFilterExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>